@{
    ViewBag.Title = "PlanMyTrip";
}

@section scripts{
    @if (false)
    {
        <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }   
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDTQqerCBmOtP8Qtb5QsxoNrBCaNxVEK3M&sensor=false">
    </script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script src="../../Scripts/google-maps-3-vs-1-0.js" type="text/javascript"></script>
    <script type="text/javascript">

        var markersArray = [];
        var directionsDisplay;
        var directionsService = new google.maps.DirectionsService();
        var map;
        var bounds;

        function initializeAutoComplete()
        {
            var input = $("#search").get(0);
            var autocomplete = new google.maps.places.Autocomplete(input);

            google.maps.event.addListener(autocomplete, 'place_changed', 
                function() 
                {
                    var place = autocomplete.getPlace();
                    if(place.geometry != null)
                        changeSearchLocation(place.geometry.location);
                }
            );
        }

        function changeSearchLocation(location)
        {
            $.ajax(
                {
                    url: "@Url.Action("SetSearchLocation", "Home")",
                    type: "POST",
                    datatype: "json",
                    data: {latitude: location.lat(), longitude: location.lng()},
                    success: function(data)
                    {
                        loadSuggestedVenues();
                    },
                    error: function(error)
                    {
                        alert(error);
                    }
                } 
            );
        }

        function changeSearchRadius(radius)
        {
            $.ajax(
                {
                    url: "@Url.Action("SetSearchRadius", "Home")",
                    type: "POST",
                    datatype: "json",
                    data: {radius: radius},
                    success: function(data)
                    {
                        loadSuggestedVenues();
                    },
                    error: function(error)
                    {
                        alert(error);
                    }
                } 
            );
        }

        function toggleMainCategory(categoryId)
        {
            $.ajax(
                {
                    url: "@Url.Action("ToggleMainCategory", "Home")",
                    type: "POST",
                    datatype: "json",
                    data: {categoryId: categoryId},
                    success: function(data)
                    {
                        loadSuggestedVenues();
                    },
                    error: function(error)
                    {
                        alert(error);
                    }
                } 
            );
        }

        function loadMainCategories()
        {
            $.ajax(
                {
                    headers: {"Content-Type": "text/html", "Accept": "text/html"},
                    url: "@Url.Action("MainCategories", "Home")",
                    datatype: "html",
                    success: function(data)
                    {
                        $("#mainCategories").html(data);
                        $(".main_category").each(
                                function(index, element)
                                {
                                    $(element).click(
                                        $(element).attr("categoryid"),
                                        function(e)
                                        {
                                            $(e.target).toggleClass("disabled");
                                            toggleMainCategory(e.data);
                                        }
                                    );
                                }
                            );
                    },
                    error: function(error)
                    {
                        alert(error);
                    }
                } 
            );
        }

        function addVenueToPlannedTrip(venueId)
        {
            $.ajax(
                {
                    url: "@Url.Action("AddSuggestedVenueToPlan", "Home")",
                    type: "POST",
                    datatype: "json",
                    data: {venueId: venueId},
                    success: function(data)
                    {
                        loadSuggestedVenues();
                        loadPlannedTrip();
                    },
                    error: function(error)
                    {
                        alert(error);
                    }
                } 
            );
        }

        function removeVenueFromPlannedTrip(venueId)
        {
            $.ajax(
                {
                    url: "@Url.Action("RemoveVenueFromPlan", "Home")",
                    type: "POST",
                    datatype: "json",
                    data: {venueId: venueId},
                    success: function(data)
                    {
                        loadSuggestedVenues();
                        loadPlannedTrip();
                    },
                    error: function(error)
                    {
                        alert(error);
                    }
                } 
            );
        }

        function loadSuggestedVenues()
        {
            $.ajax(
                {
                    headers: {"Content-Type": "text/html", "Accept": "text/html"},
                    url: "@Url.Action("SuggestedVenues", "Home")",
                    datatype: "html",
                    success: function(data)
                    {
                        $("#suggestedVenues").html(data);
                        $(".addToPlan").click(
                            function(e)
                            {
                                addVenueToPlannedTrip($(e.target).attr("venueid"));
                            }
                        );
                        loadMapData();
                    },
                    error: function(error)
                    {
                        alert(error);
                    }
                } 
            );
        }

        function loadPlannedTrip()
        {
            $.ajax(
                {
                    headers: {"Content-Type": "text/html", "Accept": "text/html"},
                    url: "@Url.Action("PlannedTrip", "Home")",
                    datatype: "html",
                    success: function(data)
                    {
                        $("#plannedTrip").html(data);
                        $(".removeFromPlan").click(
                            function(e)
                            {
                                removeVenueFromPlannedTrip($(e.target).attr("venueid"));
                            }
                        );
                    },
                    error: function(error)
                    {
                        alert(error);
                    }
                } 
            );
        }

        function clearOverlays() {
          for (var i = 0; i < markersArray.length; i++ ) {
            markersArray[i].setMap(null);
          }
          markersArray = new Array();
        }


        function addMarker(venue)
        {
            var marker = new google.maps.Marker();
            var geoLocation = new google.maps.LatLng(venue.GeoLocation.Latitude,venue.GeoLocation.Longitude);
            marker.setTitle(venue.Name);
            marker.setPosition(geoLocation);
            marker.setIcon(venue.MarkerIcon);
            marker.setMap(map);
            markersArray.push(marker);
        }

        function addSuggestedVenueToMap(venue)
        {
            addMarker(venue);
            bounds.extend(new google.maps.LatLng(venue.GeoLocation.Latitude,venue.GeoLocation.Longitude));
        }

        function addPlannedVenueToMap(venue)
        {
            addMarker(venue);
        }

        function loadMapSuggestedVenues()
        {
            $.ajax(
                {
                    headers: {"Content-Type": "application/json", "Accept": "application/json"},
                    url: "@Url.Action("SuggestedVenues", "Home")",
                    datatype: "json",
                    success: function(data)
                    {
                        
                        bounds = new google.maps.LatLngBounds()
                        $.each(data, function(index, venue) { 
                            addSuggestedVenueToMap(venue);
                        });
                        map.fitBounds(bounds);     
                    },
                    error: function(error)
                    {
                        alert(error);
                    }
                } 
            );
        }

        function loadMapPlannedTrip()
        {
            $.ajax(
                {
                    headers: {"Content-Type": "application/json", "Accept": "application/json"},
                    url: "@Url.Action("PlannedTrip", "Home")",
                    datatype: "json",
                    success: function(data)
                    {
                        $.each(data, function(index, venue) { 
                            addPlannedVenueToMap(venue);
                        });

                        if(data.length > 1)
                        {
                            directionsDisplay.setMap(map);

                            var waypts = [];

                            for(v=1; v < data.length-1; v++)
                            {
                                waypts.push({
                                    location:new google.maps.LatLng(data[v].GeoLocation.Latitude,data[v].GeoLocation.Longitude),
                                    stopover:true
                                });
                            }

                            var request = {
                                origin: new google.maps.LatLng(data[0].GeoLocation.Latitude,data[0].GeoLocation.Longitude),
                                destination: new google.maps.LatLng(data[data.length-1].GeoLocation.Latitude,data[data.length-1].GeoLocation.Longitude),
                                waypoints: waypts,
                                optimizeWaypoints: false,
                                travelMode: google.maps.TravelMode.WALKING
                            };

                            directionsService.route(request, function(response, status) {
                                if (status == google.maps.DirectionsStatus.OK) {
                                    directionsDisplay.setDirections(response);
                                }
                                else
                                {
                                    directionsDisplay.setMap(null);
                                }
                            });
                        }
                        else
                        {
                            directionsDisplay.setMap(null);
                        }
                    },
                    error: function(error)
                    {
                        alert(error);
                    }
                } 
            );
        }

        function loadMapData()
        {
            clearOverlays();
            map.setMapTypeId(google.maps.MapTypeId.ROADMAP);
            loadMapSuggestedVenues();
            loadMapPlannedTrip();
        }

        $(function () {
            map = new google.maps.Map(document.getElementById("map_canvas"));
            map.setCenter(new google.maps.LatLng(0,0));
            map.setMapTypeId(google.maps.MapTypeId.SATELLITE);
            map.setZoom(0);
            directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers: true, preserveViewport: true});
            initializeAutoComplete();
            loadMainCategories();
        });
	</script>
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="well well-large span12">
            <div class="row-fluid">
                <div id="mainCategories" class="span4">
                    Loading Main Categories...
                </div>
                <div class="span8">
                    <input id="search" type="text"/>
                </div>
            </div> 
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <button class="btn btn-large btn-block btn-primary disabled" type="button">Suggestions</button>
            <div id="suggestedVenues" class="venues">
                <p>No suggestions</p>
            </div>
        </div>
        <div class="span2">
            <button class="btn btn-large btn-block btn-primary disabled" type="button">Planned Trip</button>
            <div id="plannedTrip" class="venues">
                <p>Nothing planned yet...</p>
            </div>
        </div>
        <div class="span8">
            <button class="btn btn-large btn-block btn-primary disabled" type="button">Google Map</button>
            <div id="map_canvas">
            </div>      
        </div>
    </div>
</div>




